html {
	font: 62.5%;
}

body {
	background-color: #191919;
	color: #e5e5e5;
	font: 1.0em 'Lucida Sans Unicode', 'Lucida Grande', monospace;
}

#console {
	/*display: none;*/
}

#command_line {
	/*background-color: black;*/
}
